body {
    align-content: center;
    font-family: Arial, sans-serif;
    background-color: #b28888;
    padding: 20px;
}
h1 {
    color: #010404;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', sans-serif;
}
.new-post-button {
    color: white;
    background-color: rgb(24, 119, 242);
    border-radius: 10px;
    padding: 10px 15px;
}
ul {
    list-style-type: none;
    padding: 0;
}
.post-list {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
.post-title {
    font-weight: bold;
}
.post-list li {
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    background: #5b685d;
}
.function-links {
display: flex;
justify-content: flex-end;
margin-bottom: 20px;
gap: 10px;
}
